<!DOCTYPE html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <title>About Me</title>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
	<link href="/css/tex.css" rel="stylesheet">
    <link href="/css/mobile.css" rel="stylesheet">
  </head>
<body>
  <div class="header vert-bg">
      <p class="header">Profile</p>
      <span class="nav-left login">Log In</span>
      <img class="logo" src="/images/logo.png" style="width:60px;height:60px;"/>

      <!-- <a href="/about/"><img class="header-icon" src="/images/notification.png" alt="Edit" style="width:40px;height:40px"></a> -->
  </div>

  <div class="content scroll">
    {{#if account}}
    <div class="profile card" id="edit">
      <br>
      <center>
        <img src="{{account.img-url}}" alt=""style="width:100px;height:100px">
        <br><span class="name">{{account.name}}</span><br>
        <br><span class="level">Level</span><br>
        <br><span class="experience"></span><br>
        <div class="w3-container" experience="{{account.experience}}" style="width:40%">
            <div class="w3-progress-container w3-round-large">
                <div class="w3-progressbar w3-round-large w3-green" style="width:75%"></div>
            </div>
        </div>
        <br>
      </center>
    </div>

    <div class="profile-links">
      <div class="nav">College: {{account.college}}</div>
      <div class="nav">Email: {{account.email}}</div>
      <br />
      <!-- <div class="nav" id="manage-friends">Manage Friends</div> -->
      <div class="nav" onclick="openChangePassword()">Change Password</div>
      <!-- <div class="nav" onclick="openHelp()">Help &amp; Support</div> -->
      <br />
      <br />
      <br />
      <br />
      <!--Log out botton -->
      <center>
        <span id="logout"class="button button-red">log out</span>
      </center>
      <br>
    </div>
    {{else}}
    <!--<div class="sidebar">
        This is a sidebar! Even though it looks terrible lol!
    </div> -->
    <div class="profile card">
      <br>
      <center>
        <img src="/images/profile_man.png" alt=""style="width:100px;height:100px">
        <br><span class="name">Guest Account</span><br>
        <br><span class="title">Welcome to Triton Explorer!<br>Please Login to Explore All the Cool Functions We Have!</span><br>
        <br>
        <br>
      </center>
    </div>

    <div id="no-account" class="profile-links">
      <div class="nav loginbutton">Login to Fight for Your College!</div>
      <div class="nav loginbutton">And Earn Countless Awards!</div>
      <br />
      <!--<div class="nav" id="manage-friends">Manage Friends</div>-->
      <div class="nav" onclick="openHelp()">Help &amp; Support</div>
    </div>
    {{/if}}

  </div>

  <div id="loginform" class="loginbox hidden">
					<div class="authentication">
						<!--Login form-->
					    <h3>Login</h3>
					    <p class="response-msg"></p>
					    username: <input type="text" id="username" placeholder="Username"><br />
					    password: <input type="text" id="password" placeholder="Password"><br />
					    <center>
					    	<span id="login-submit" class="login button" >Login</span>
					    	<span id="login-cancel" class="cancel button">Cancel</span>
					    </center>
					</div>

					<div class="registration">
						<h3>Register</h3>
                        <p class="response-msg"></p>
						Username: <input type="text" class="username" name="username" placeholder="Username" /><br />
						Password: <input type="text" class="password" name="password" placeholder="Password" /><br />
						Name: <input type="text" class="name" name="name" placeholder="Your Name" /><br />
						Email: <input type="text" class="email" name="email" placeholder="Your Email" /><br />
                        College: <select class="college" name="college">
                          <option value="noinput">- Please Select College -</option>
                          <option value="Revelle">Revelle College</option>
                          <option value="John Muir">John Muir College</option>
                          <option value="Thurgood Marshall">Thurgood Marshall College</option>
                          <option value="Earl Warren">Earl Warren College</option>
                          <option value="Eleanor Roosevelt">Eleanor Roosevelt College</option>
                          <option value="Sixth">Sixth College</option>
                          <option value="Grad-School">Graduate School</option>
                          <option value="Faculty">Faculty Member</option>
                          <option value="Vistor">Vistor</option>
                          <option value="Other">Other</option>
                        </select>
					    <center>
					    	<span id="register-submit" class="register button">Register</span>
                            <span id="register-cancel" class="cancel button">Cancel</span>
					    </center>
    </div>
  </div>

  <!--Change Password form-->
  <div id="changePasswordForm" class="changePasswordBox hidden">
    <!-- <form action="/" method="post"> -->
        <!-- <div> -->
        <h3>Change Password</h3>
        <p class="response-msg"></p>
        <p>
          <span class="title">old password</span>
          <input type="text" name="oldpassword" class="old password">
        </p>
        <p>
          <span class="title">new password</span>
          <input type="text" name="newpassword" class="new password">
        </p>
        <p>
          <span class="title">confirm new password</span>
          <input type="text" name="confirmpassword" class="confirm password">
        </p>
        <center>
          <span id="change-password" class="change button button-green">change password</span>
          <span id="change-cancel" class="cancel button button-red" onclick="hideChangePassword()">cancel</span>
        </center>
      <!-- </div> -->
    <!-- </form> -->
  </div>

  <!--Manage Friend form-->
  <div  id="manageFriendForm" class="manageFriendBox hidden">
    <form action="/" method="post"> <!--need to change action-->
        <div>
        <center>Manage Your Friends</center>
          <br>
            &emsp;&emsp;
            <img src="/images/friend1.jpeg" style="width:150px; height=150px">
            <!--friend and unfriend button for friend1-->
            <input type="button" id="friend1" onclick="changeFriendStatus('friend1','✓friend')";
            value="✓friend" class="friendbutton">
            <!--<img src="/images/friend2.jpg" style="width:150px; height=150px">-->
            <!--friend and unfriend button for friend2-->
            <!--<input type="button" id="friend2" onclick="changeFriendStatus('friend2','✓friend')";
            value="✓friend" class="friendbutton">-->
          </br>
          <br>
          <img src="/images/friend3.jpg" style="width:150px; height=150px">
          <!--friend and unfriend button for friend3-->
          <input type="button" id="friend3" onclick="changeFriendStatus('friend3','✓friend')";
          value="✓friend" class="friendbutton">
          <!--<img src="/images/friend4.jpg" style="width:150px; height=150px">-->
          <!--friend and unfriend button for friend4-->
          <!--<input type="button" id="friend4" onclick="changeFriendStatus('friend4','✓friend')";
          value="✓friend" class="friendbutton">-->
          </br>
          <br>
          &emsp;
          </br>

        <center><input id="login-submit" type="button" onclick="hideManageFriend()" value="confirm"/>
        <input id="login-cancel" type="button" onclick="hideManageFriend()" value="cancel"/></center>
      </div>
    </form>
  </div>
  <!--Help and Support form-->
  <div  id="helpForm" class="helpBox hidden">
    <form action="/" method="post"> <!--need to change action-->
        <div>
        <center>Help and Support</center>
          Common Questions:
          <ol>
            <li>What should I do if I want to change my password?</li>
            <p>You can change your password in Profile page</p>
            <li>What should I do if I cannot find an address?</li>
            <p>You can let others help you by adding a mission in the mission page</p>
            <li>How to add an address?</li>
            <p>Go the home page and click on the add buttom</p>
          </ol>
          <center>Contact</center>
          <center>Tel:123-456-7890</center>
        <center><input id="login-submit" type="button" onclick="hideHelp()" value="OK"/>
      </div>
    </form>
  </div>

  <div class="footer vert-bg">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
            <p>Missions</p>
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/discover.png" style="width:60px; height=60px">
            <p>Discover</p>
        </a>
		<a class="nav-button" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
            <p>Home</p>
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
            <p>Ranking</p>
        </a>
		<a class="nav-button active" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
            <p>Profile</p>
        </a>
	</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/js/popup.js"></script>
  <script src="/js/account-control.js"></script>
  <script src="/js/overlay.js"></script>
</body>
</html>
