<!doctype html>
<meta name="viewport" content="width=device-width" />

<html>
<head>
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>

<body>
	<div class="header vert-bg">
        <p class="header">Triton Explorer</p>
        <img class="logo" src="/images/logo.png" style="width:60px;height:60px;"/>
	</div>

	<div class="content">
		<input id="pac-input" class="controls" type="text" placeholder="Search Box">
		<div class="fill" id="map"></div>

		<div class="upload floating-button">
			<img src="/images/upload.png" style="width:80px; height:80px">
		</div>

		<div class="upload container hidden">
			<h3>Submit new Location</h3>

<!--             <div class="add-photo">
                <br/>
                <a href="/" style="text-decoration: none; color:white">Add a Photo Here(More XP!)</a>
            </div> -->

			<form action="/" method="post">
				<p>
					<span class="title">Title</span><input type="text" name="title" />
				</p>
				<p>
					<span class="title">Tags</span><input type="text" name="tags" />
				</p>
				<p>
					<span class="title">Rating (1-5)</span>
	                <!--<input type="number" name="rating" min="1" max="5" /> -->
	                <span class="starRating">
	                    <input id="rating5" type="radio" name="rating" value="5">
	                    <label for="rating5">5</label>
	                    <input id="rating4" type="radio" name="rating" value="4">
	                    <label for="rating4">4</label>
	                    <input id="rating3" type="radio" name="rating" value="3">
	                    <label for="rating3">3</label>
	                    <input id="rating2" type="radio" name="rating" value="2">
	                    <label for="rating2">2</label>
	                    <input id="rating1" type="radio" name="rating" value="1">
	                    <label for="rating1">1</label>
	                </span>
	            </p>
				<p>
					<span class="title">Description</span>
					<input type="text" name="description" /><br />
				</p>
				<p>
					<span class="title">Latitude</span>
					<input type="text" id="input-lat" name="lat" value="32.8786" />
					<span class="title">Longitude</span>
					<input type="text" id="input-lng" name="lng" value="-117.2359" />
					<input type="button" value="Detect Location" onclick="getGeoLocationConst()" /><br />
					<center>
	                    <button type="submit" id="add-location" class="button button-green">Submit</button>
	                    <span class="button button-red">Cancel</span>
	                </center>
	            </p>
			</form>
		</div>

		{{#if uploaded}}
		<div class="uploaded fading message">
			Thanks for adding <span class="title">{{locations_to_show.name}}</span> to the map! We're working on adding experience points for adding locations, but for now all we can say is thanks for keeping the triton explorer map up to date!
		</div>
		{{/if}}

		<div class="info floating-button">
			<img src="/images/info.png" style="width:40px; height:40px">
		</div>

		<div class="info container hidden">
			<h3>{{locations_to_show.name}}</h3>
			<p class="description">
				<span class="title">description</span>
				{{locations_to_show.description}}
			</p>
			<p class="tags">
				<span class="title">tags</span>
				{{#each locations_to_show.tags}}
					<span class="tag">{{this}}</span>
				{{/each}}
			</p>
			<div class="extra-info">
				<p class="rating">
					<span class="title">rating</span>
					{{locations_to_show.rating}}
				</p>
				<p class="location">
					<span class="title">gps</span>
					<span class="lat">{{locations_to_show.lat}}</span>
					<span class="lng">{{locations_to_show.lng}}</span>
				</p>
			</div>
		</div>
	</div>
	<!--Login form-->
	<div  id="loginform" class="loginbox hidden">
		<form action="/" method="post"> <!--need to change action-->
				<div>
				<center>Login</center>
				username/email:<input type="text"><br>
				passward:<input type="text"><br>
				<center><input id="login-submit" type="button"  value="login"/>
				<input id="login-cancel" type="button" onclick="hidelogin()" value="cancel"/></center>
			</div>
		</form>
	</div>
	<!--Register form-->
	<div  id="registerform" class="registerbox hidden">
		<form action="/" method="post"> <!--need to change action-->
				<div>
					<center>Register</center>
					First name:<input type="text"><br>
					Last name:<input type="text"><br>
					College:<input type="text"><br>
					email:<input type="text"><br>
					password:<input type="text"><br>
					confirm password:<input type="text"><br>
					<center><input id="login-submit" type="button"  value="register"/>
					<input id="login-cancel" type="button" onclick="hideregister()" value="cancel"/></center>
				</div>
		</form>
	</div>
	<div class="footer vert-bg">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
            <p>Missions</p>
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/discover.png" style="width:60px; height=60px">
            <p>Discover</p>
        </a>
		<a class="nav-button active" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
            <p>Home</p>
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
            <p>Ranking</p>
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
            <p>Profile</p>
        </a>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="/js/map-control.js"></script>
	<script src="/js/account-control.js"></script>
	<script src="/js/overlay.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB82M8lTcnbfwp8lvbLN1Q30LLWAX2I-zE&libraries=places&callback=initMap"></script>
</body>
</html>
