<!doctype html>

<html>
<head>
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
</head>

<body>
	<div class="header vert-bg">
        <p class="header">Triton Explorer</p>
	</div>

	<div class="content">
		<input id="pac-input" class="controls" type="text" placeholder="Search Box">
		<div class="fill" id="map"></div>

		<div class="upload floating-button">
			<img src="/images/find-eye.png" style="width:60px; height:60px">
		</div>

		<div class="upload container hidden">
			<p>Adding new Location</p>

			<a>Add photo here</a>

			<form action="/" method="post">
				Title: <input type="text" name="title" /><br />
				Tags: <input type="text" name="tags" /><br />
				Rating: (1-5) <input type="number" name="rating" min="1" max="5" /><br />
				Description: <input type="text" name="description" /><br />
				Latitude: <input type="text" id="input-lat" name="lat" /> Longitude: <input type="text" id="input-lng" name="lng" /><input type="button" value="Detect Location" onclick="getGeoLocationConst()" /><br />
				<button type="submit" id="add-location" class="button button-green">Submit</button>
				<span class="button button-red">Cancel</button>
			</form>
		</div>

		<div class="info floating-button">
			INFO
		</div>

		<div class="info container hidden">
			<h3>{{locations_to_show.name}}</h3>
			<p class="description">Description: {{locations_to_show.description}}</p>
			<p class="tags">Tags: {{#each locations_to_show.tags}}<span class="tag">{{this}}</span>{{/each}}</p>
			<div class="extra-info">
				<span class="rating">Rating: {{locations_to_show.rating}}</span>
				<span class="location">
					Location:
					<span class="lat">{{{locations_to_show.lat}}}</span>
					<span class="lng">{{locations_to_show.lng}}</span>
				</span>
			</div>
		</div>
	</div>

	<div class="footer vert-bg">
		<a  class="nav-button" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/best.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button active" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
        </a>
	</div>
	<!-- This is a hack to pass the searchable titles to js -->
	<script>
		var searchable_titles = "Hello World";
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="/js/map-control.js"></script>
	<script src="/js/location.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB82M8lTcnbfwp8lvbLN1Q30LLWAX2I-zE&libraries=places&callback=initMap"></script>
</body>
</html>
