<!doctype html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
    <link href="/css/mobile.css" rel="stylesheet">
</head>

<body class="blue-bg">
    <!--Header and header buttons-->
	<div class="header vert-bg">
        <p class="header">Missions</p>
				<span class="nav-left login">Log In</span>
        <img class="logo" src="/images/logo.png" style="width:60px;height:60px;"/>
	</div>

    <!--Actual Objectives-->
    <div class="content scroll">
        <div id="top-bar">
        <ul id="top-bar-nav">
            <li><a href="/objective/" id="daily-button">Daily</a></li>
            <li><a href="/objective/" id="mysterious-button">Mysterious</a></li>
        </ul>
        </div>

        {{#if missions}}
        <div id="daily-mission">
        {{#each missions}}
        <div class="mission">
            <div class="mission-content">
                <img src="{{img-url}}" />
                <h2>{{name}}</h2>
                <p>{{description}}</p>
            </div>
            <center>
                <span class="button accept button-green">Accept</span>
                <span class="button decline button-red">Decline</span>
            </center>
            <p class="ongoing">In progress...</p>
        </div>
        {{/each}}
        </div>

        <div id="mysterious-mission" class="hidden">
        {{#each missions}}
        <div class="mission">
            <div class="mission-content">
                <img src="{{img-url}}" />
                <h2>{{name}}</h2>
                <p>{{description}}</p>
            </div>
            <center>
                <span class="button accept button-green">Accept</span>
                <span class="button decline button-red">Decline</span>
            </center>
            <p class="ongoing">In progress...</p>
        </div>
        {{/each}}
        </div>
        {{else}}
        {{#if no_missions}}
        <div class="mission">
            <center>
                <span class="message">No missions to display</span>
            </center>
        </div>
        {{else}}
        <div id="no-missions" class="mission">
            <center>
                <span class="message">In order to view missions, please log in</span>
            </center>
        </div>
        {{/if}}
        {{/if}}

				<div id="loginform" class="loginbox hidden">
					<div class="authentication">
						<!--Login form-->
					    <h3>Login</h3>
					    <p class="response-msg"></p>
					    username: <input type="text" id="username" placeholder="Username"><br />
					    password: <input type="text" id="password" placeholder="Password"><br />
					    <center>
					    	<span id="login-submit" class="login button" >Login</span>
					    	<span id="login-cancel" class="cancel button">Cancel</span>
					    </center>
					</div>

					<div class="registration">
						<h3>Register</h3>
                        <p class="response-msg"></p>
						Username: <input type="text" class="username" name="username" placeholder="Username" /><br />
						Password: <input type="text" class="password" name="password" placeholder="Password" /><br />
						Name: <input type="text" class="name" name="name" placeholder="Your Name" /><br />
						Email: <input type="text" class="email" name="email" placeholder="Your Email" /><br />
						College: <select class="college" name="college">
                          <option value="noinput">- Please Select College -</option>
                          <option value="Revelle">Revelle College</option>
                          <option value="John Muir">John Muir College</option>
                          <option value="Thurgood Marshall">Thurgood Marshall College</option>
                          <option value="Earl Warren">Earl Warren College</option>
                          <option value="Eleanor Roosevelt">Eleanor Roosevelt College</option>
                          <option value="Sixth">Sixth College</option>
                          <option value="Grad-School">Graduate School</option>
                          <option value="Faculty">Faculty Member</option>
                          <option value="Vistor">Vistor</option>
                          <option value="Other">Other</option>
                        </select>
					    <center>
					    	<span id="register-submit" class="register button">Register</span>
                            <span id="register-cancel" class="cancel button">Cancel</span>
					    </center>
					</div>
				</div>
	</div>


    <!--Footer-->
	<div class="footer vert-bg">
		<a  class="nav-button active" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
            <p>Missions</p>
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/discover.png" style="width:60px; height=60px">
            <p>Discover</p>
        </a>
		<a class="nav-button" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
            <p>Home</p>
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
            <p>Ranking</p>
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
            <p>Profile</p>
        </a>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/popup.js"></script>
    <script src="/js/objective.js"></script>
    <script src="/js/account-control.js"></script>
</body>
</html>
