<!doctype html>

<html>
<head>
	<title>Triton Explorer</title>
	<link href="/css/tex.css" rel="stylesheet">
</head>

<body>
    <!--Header and header buttons-->
	<div class="header vert-bg">
        <p class="header">Missions</p>
        <img class="logo" src="/images/logo.png" style="width:60px;height:60px;"/>
        <span class="nav-left login">log in</span>
	</div>
    
    <!--Actual Objectives-->
    <div class="content scroll">
        <div id="top-bar">
        <ul id="top-bar-nav">
            <li><a href="/objective/" id="daily-button">Daily</a></li>
            <li><a href="/objective/" id="mysterious-button">Mysterious</a></li>
        </ul>
        </div>
        
        <div id="daily-mission">
        {{#each missions}}
        <div class="mission">
            <div class="mission-content">
                <img src="{{img-url}}" />
                <h2>{{name}}</h2>
                <p>{{description}}</p>
            </div>
            <center>
                <span class="button accept button-green">Accept</span>
                <span class="button decline button-red">Decline</span>
            </center>
            <p class="ongoing">In progress...</p>
        </div>
        {{/each}}
        </div>
        
        <div id="mysterious-mission" class="hidden">
        {{#each missions}}
        <div class="mission">
            <div class="mission-content">
                <img src="{{img-url}}" />
                <h2>{{name}}</h2>
                <p>{{description}}</p>
            </div>
            <center>
                <span class="button accept button-green">Accept</span>
                <span class="button decline button-red">Decline</span>
            </center>
            <p class="ongoing">In progress...</p>
        </div>
        {{/each}}
        </div>
    
        <div  id="loginform" class="loginbox hidden">
            <!--Login form-->
            <h3>Login</h3>
            username: <input type="text" id="username"><br />
            password: <input type="text" id="password"><br />
            <center>
                <span id="login-submit" class="login button">login</span>
                <span id="login-cancel" class="cancel button"/>cancel</span>
            </center>
        </div>
	</div>
    
    
    <!--Footer-->
	<div class="footer vert-bg">
		<a  class="nav-button active" href="/objective/">
            <img src="/images/objectives.png" style="width:60px; height=60px">
            <p>Missions</p>
        </a>
		<a class="nav-button" href="/recommendations/">
            <img src="/images/discover.png" style="width:60px; height=60px">
            <p>Discover</p>
        </a>
		<a class="nav-button" href="/">
            <img src="/images/home.png" style="width:60px; height=60px">
            <p>Home</p>
        </a>
		<a class="nav-button" href="/ranking/">
            <img src="/images/ranking.png" style="width:60px; height=60px">
            <p>Ranking</p>
        </a>
		<a class="nav-button" href="/about/">
            <img src="/images/user.png" style="width:60px; height=60px">
            <p>Profile</p>
        </a>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="/js/popup.js"></script>
    <script src="/js/objective.js"></script>
    <script src="/js/account-control.js"></script>
</body>
</html>
